# ignore all files with the following endings
*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata

*.pdf
*.png
*.csv
*.bin
*.zip

# exception of final analysis data
!code/data/analysis_data/df_all_non_clipped.csv

# exclude data folders
/data/reddit/
/R_MasterThesis/output/
/code/EMI/output

# Proposal Checks
/code/analysis/Proposal_Check_EMI_and_Date.ipynb


# too large files
/code/data_preprocessing/PoliticalDiscussion/output/
/code/data_preprocessing/politics/output/
/code/data_preprocessing/PolitialDebat/output/
/code/data_preprocessing/NeutralPolitics/output/
/code/data_preprocessing/Askpolitics/output/
/code/data_preprocessing/Ask_Politics/output/

/code/user_ideology/user_subreddit_activity.jsonl


# EMI
code/EMI/reddit_data/00_embedding_models/embedding_files/glove.42B.300d.zip

# saved R workspaces
/code/analysis/R-model_fitting.RData
.Rproj.user
